backend F_sp1 {
    .connect_timeout = 10s;
    .port = "80";
    .host = "128.199.176.82";
    .first_byte_timeout = 30s;
    .saintmode_threshold = 200000;
    .max_connections = 20000;
    .between_bytes_timeout = 80s;
    .share_key = "11yqoXJrAAGxPiC07v3q9Z";
     
    .probe = {
        .request = "HEAD / HTTP/1.1" "Host: {{ domain }}" "Connection: close""User-Agent: Varnish/fastly (healthcheck)";
        .threshold = 3;
        .window = 5;
        .timeout = 5s;
        .initial = 4;
        .expected_response = 200;
        .interval = 15s;
      }
}

backend F_sp2 {
    .connect_timeout = 10s;
    .port = "80";
    .host = "128.199.178.148";
    .first_byte_timeout = 30s;
    .saintmode_threshold = 200000;
    .max_connections = 20000;
    .between_bytes_timeout = 80s;
    .share_key = "11yqoXJrAAGxPiC07v3q9Z";
      
    .probe = {
        .request = "HEAD / HTTP/1.1" "Host: {{ domain }}" "Connection: close""User-Agent: Varnish/fastly (healthcheck)";
        .threshold = 3;
        .window = 5;
        .timeout = 5s;
        .initial = 4;
        .expected_response = 200;
        .interval = 15s;
      }
}

backend F_sp3 {
    .connect_timeout = 10s;
    .port = "80";
    .host = "128.199.140.101";
    .first_byte_timeout = 30s;
    .saintmode_threshold = 200000;
    .max_connections = 20000;
    .between_bytes_timeout = 80s;
    .share_key = "11yqoXJrAAGxPiC07v3q9Z";
      
    .probe = {
        .request = "HEAD / HTTP/1.1" "Host: {{ domain }}" "Connection: close""User-Agent: Varnish/fastly (healthcheck)";
        .threshold = 3;
        .window = 5;
        .timeout = 5s;
        .initial = 4;
        .expected_response = 200;
        .interval = 15s;
      }
}

backend F_sp4 {
    .connect_timeout = 10s;
    .port = "80";
    .host = "128.199.140.103";
    .first_byte_timeout = 30s;
    .saintmode_threshold = 200000;
    .max_connections = 20000;
    .between_bytes_timeout = 80s;
    .share_key = "11yqoXJrAAGxPiC07v3q9Z";
      
    .probe = {
        .request = "HEAD / HTTP/1.1" "Host: {{ domain }}" "Connection: close""User-Agent: Varnish/fastly (healthcheck)";
        .threshold = 3;
        .window = 5;
        .timeout = 5s;
        .initial = 4;
        .expected_response = 200;
        .interval = 15s;
      }
}

{% for peer in peers %}
backend F_sp{{ loop.index + 4 }} {
    .connect_timeout = 20s;
    .port = "{{ peer.port }}";
    .host = "{{ peer.host }}";
    .first_byte_timeout = 30s;
    .saintmode_threshold = 200000;
    .max_connections = 100;
    .between_bytes_timeout = 80s;
    .share_key = "11yqoXJrAAGxPiC07v3q9Z";

    .probe = {
        .request = "HEAD / HTTP/1.1" "Host: {{ domain }}" "Connection: close""User-Agent: Varnish/fastly (healthcheck)";
        .threshold = 3;
        .window = 5;
        .timeout = 20s;
        .initial = 4;
        .expected_response = 200;
        .interval = 15s;
      }
}
{% endfor %}

director PeerAutoDirector random {
   .quorum = 1%;
   .retries = 10;
   {
    .backend = F_sp1;
    .weight  = 10000;
   }{
    .backend = F_sp2;
    .weight  = 10000;
   }{
    .backend = F_sp3;
    .weight  = 10000;
   }{
    .backend = F_sp4;
    .weight  = 10000;
   }{% for peer in peers %}{
    .backend = F_sp{{ loop.index + 4 }};
    .weight  = 100;
   }
   {% endfor %}
}

sub vcl_recv {
  set req.backend = PeerAutoDirector;

  # Sticky routing
  if( req.http.host == "sp1.{{ domain }}" ) {
    set req.backend = F_sp1;
  }
  if( req.http.host == "sp2.{{ domain }}" ) {
    set req.backend = F_sp2;
  }
  if( req.http.host == "sp3.{{ domain }}" ) {
    set req.backend = F_sp3;
  }
  if( req.http.host == "sp4.{{ domain }}" ) {
    set req.backend = F_sp4;
  }
  {% for peer in peers %}
  if( req.http.host == "sp{{ loop.index + 4 }}.{{ domain }}" ) {
    set req.backend = F_sp{{ loop.index + 4 }};
  }
  {% endfor %}
  #FASTLY recv
}
